
.New{
    width: 100%;
    display: flex;
}

.newcontainer{
    flex: 6;
   
}

.topNew,.bottomNew{
    box-shadow:1px 2px 5px 0.5px rgba(201,201,201,0.47);
    -webkit-box-shadow:  1px 2px 5px 0.5px rgba(201,201,201,0.47);
    -moz-box-shadow:  1px 2px 5px 0.5px rgba(201,201,201,0.5);
    padding: 10px;
    margin: 20px;
    display: flex;
}
h1{
    color: lightgray;
    font-size: 20px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:1px 2px 5px 0.5px rgba(201,201,201,0.47);
    -webkit-box-shadow:  1px 2px 5px 0.5px rgba(201,201,201,0.47);
    -moz-box-shadow:  1px 2px 5px 0.5px rgba(201,201,201,0.5);
}
.leftBottomNew{
    flex: 1;
    text-align: center;
}

.rightBottomNew{
    flex: 2;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.formInput{
    width: 40%;
}
input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconNew{
    cursor: pointer;
}

button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}